DATABASE_URL="postgresql://postgres:postgres@db:5432/jaro"
JWT_SECRET="change_me"
MOBILE_MONEY_PROVIDER="flutterwave"
FLUTTERWAVE_SECRET="<FLUTTERWAVE_SECRET>"
CLOUDINARY_CLOUD_NAME="<cloud_name>"
CLOUDINARY_API_KEY="<api_key>"
CLOUDINARY_API_SECRET="<api_secret>"
PORT=4000
